{
  "presets": ["react", "es2015", "stage-1"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        [
          "transform-decorators-legacy"
        ]
      ]
    },
    "lib": {
      "plugins": [
        [
          "transform-decorators-legacy"
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-decorators-legacy"
        ]
      ]
    },
    "docs": {
      "plugins": [
        [
          "transform-decorators-legacy"
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "transform-decorators-legacy"
        ]
      ]
    }
  }
}
