{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "curly": [2, "multi-line"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "eol-last": 0,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "new-cap": [2, {"capIsNew": false}]
  },
  "plugins": [
    "react"
  ]
}
